
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Kalnia:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.topcontent{
    color: aliceblue;
    position: relative;
    
}
.topcontent >.img1 > img{
    position: absolute;
   margin-top: 10%;
   margin-left: 10%;
    border-radius: 30px;
    width: 400px;
    height: 550px;
}

.topcontent_container{
    
    font-weight: 900;
    position: absolute;
    top:300px;
    right:250px;
    font-size: 30px;
    
     
}

.topcontent_container > p{
     letter-spacing: 1px;
     
     text-align: left;
     padding-left: 3px;
     padding-top: 20px;
}

.topcontent_container >a >button{
    margin-top: 30px;
    text-align: left;
    margin-left: 5px;
    border: none;
    border-radius: 30px;
    outline: none;
    font-family: Verdana,sans-serif;
    
}
.topcontent_container > h1{
    
    font-size: 60px;
    font-family: 'Montserrat',sans-serif;
}
.download{
    color: white;
    background-color: #f64c08;
    font-size: 14px;
    padding: 10px 30px;
    font-family: 'Mantserrat', sans-serif;
    font-weight: 300;
    cursor:pointer;
    margin-right: 20px;
}
.download:hover{
    color: #f64c08;
    background-color: white;
    font-weight: 600;
}
.work{
    color: aliceblue;
    border: 1px solid white !important;
    background-color: transparent;
    font-size: 14px;
    padding: 9px 45px;
    font-family: 'Mantserrat', sans-serif;
    font-weight: 300;
    cursor:pointer;
}
.work:hover{
    color: #000000;
    background-color: white;
    font-weight: 600;
}