@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Kalnia:wght@100..700&display=swap');

.header{
    display: flex;
    align-items: center;
    color:white;
    background-color: rgb(14, 13, 13);
    top: 0;
    position: sticky;
    z-index: 2000;
}
.header > img{
    width: 200px;
    height: 80px;
    margin-left: 50px;

}
.header_left{
    flex: 0.3 ;
}
 
.header_left > h1{
    text-align: center;
    font-family: "Kalnia", sans-serif;
    letter-spacing:  4px;
    padding: 20px 0;
}

.header_left >h1 >span{
    color: rgb(248, 10, 10);
}

.header_right{
    display: flex;
    flex: 0.7;
    justify-content: space-evenly;
    align-items: center;

}
.header_right > a > h4{
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.5ms ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    padding: 20px 0;
    letter-spacing: 1px;
}

.header_right > a> h4:hover{
    transform: scale(1.09);
    background-color: #f08017;
    color : rgb(252, 252, 249);
    padding: 5px 7px;
    border-radius: 50px;
    letter-spacing: 0.5px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif ;
    font-size: 16px;
    cursor: pointer;
}
.header_rightbutton{
    background-color: #f08017;
    color: aliceblue;
    padding: 5px 20px;
    cursor: pointer;

}